.docs-head {
	img {
		width: 12.5rem;
		justify-self: flex-end;
	}
}

.docs-main {
	h3 {
		margin: 20px 0;
	}

	.grid {
		grid-template-columns: 1fr 2fr;
		align-items: flex-start;
	}

	nav {
		li {
			font-size: 17px;
			padding-bottom: 5px;
			border-bottom: 1px #ccc solid;
			transition: 0.2s ease;

			&:hover {
				font-weight: bold;
			}
		}
	}

	pre,
	code {
		background-color: #333;
		color: #fff;
		padding: 10px;
	}
}
