$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$error-color: #d9534f;

// Reset Styling

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	color: #333;
	line-height: 1.6;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

// Global Styling
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 2.5rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;

	&-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card {
	background-color: #fff;
	color: #333;
	border-radius: 0.625rem;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 1.25rem;
	margin: 0.625rem;
}

.btn {
	display: inline-block;
	padding: 0.625rem 1.875rem;
	cursor: pointer;
	background: $primary-color;
	color: #fff;
	border: none;
	border-radius: 5px;
	transition: transform 0.2s ease;

	&-outline {
		background-color: transparent;
		border: 1px solid #fff;
		transition: all 0.25s ease-in;

		&:hover {
			background-color: #fff;
			color: #333;
		}
	}

	&:hover {
		transform: scale(0.98);
	}
}

// BACKGROUNDS & COLORED BUTTONS
.bg-primary,
.btn-primary {
	background-color: $primary-color;
	color: #fff;

	a {
		color: #fff;
	}
}

.bg-secondary,
.btn-secondary {
	background-color: $primary-color;
	color: #fff;

	a {
		color: #fff;
	}
}

.bg-dark,
.btn-dark {
	background-color: $dark-color;
	color: #fff;

	a {
		color: #fff;
	}
}

.bg-light,
.btn-light {
	background-color: $light-color;
	color: #333;
}

// Text sizes

.text-center {
	text-align: center;
}

// Alert

.alert {
	background-color: $light-color;
	padding: 10px 20px;
	font-weight: bold;
	margin: 15px;

	i {
		margin-right: 10px;
	}
}

.alert-success {
	background-color: $success-color;
	color: #fff;
}

.alert-error {
	background-color: $error-color;
	color: #fff;
}

.lead {
	font-size: 20px;
}

.sm {
	font-size: 1rem;
}

.md {
	font-size: 2rem;
}

.lg {
	font-size: 3rem;
}

.xl {
	font-size: 4rem;
}

// MARGIN

.my-1 {
	margin: 1rem 0;
}

.my-2 {
	margin: 1.5rem 0;
}

.my-3 {
	margin: 2rem 0;
}

.my-4 {
	margin: 3rem 0;
}

.my-5 {
	margin: 4rem 0;
}

.m-1 {
	margin: 1rem;
}

.m-2 {
	margin: 1.5rem;
}

.m-3 {
	margin: 2rem;
}

.m-4 {
	margin: 3rem;
}

.m-5 {
	margin: 4rem;
}

// Padding

.py-1 {
	padding: 1rem 0;
}

.py-2 {
	padding: 1.5rem 0;
}

.py-3 {
	padding: 2rem 0;
}

.py-4 {
	padding: 3rem 0;
}

.py-5 {
	padding: 4rem 0;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 1.5rem;
}

.p-3 {
	padding: 2rem;
}

.p-4 {
	padding: 3rem;
}

.p-5 {
	padding: 4rem;
}
